<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    
    <title><%= title %></title>
  </head> 
  
<body class="p-5 bg-slate-100">
  
  
  <div class="bg-white p-3 m-auto">
    
 <h1 class="my-5 text-2xl flex items-center justify-between">
<span><%- bookName %></span>
<span>

<span class="text-black"> <%- chapter %></span>
:
<span class="text-black"><%- verse %></span>

</span>
</h1>


    
  <div class="">
  <% for(let verse of read){ %>

   <div data-scripture id="page-<%-verse.verse %>" class="my-5 pt-3 pb-0 bg-slate-200">
     
     <div class="w-full px-3 mb-3 text-sm text-slate-500 flex justify-between items-center">
         <p>
           <%- bookName %> <%- chapter %>
         </p>
       <p class="text-lg">Verse: <%- verse.verse %></p>
    </div>
    
    
<p class="p-3 text-xl font-light line-5"><%- verse.text %></p>
<div class="px-3 mt-5 bg-black/50 text-white text-light text-xs flex justify-between items-center verse-action">
  <button data-verse-action="share">Save</button>
  <button data-verse-action="highlight">Highlight</button>
  <button data-verse-action="bold">Bold</button>
  <button data-verse-action="share">Share</button>
</div>
   </div>
  <% } %>
  </div>
  </div>
 
 <%- include('./includes/footer') %> 
</body>
</html>

